@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

@layer base {
  :root {
    --primary-red: #ad2320;
    --primary-black: #000000;
    --primary-gray: #f3f3f3;
    --primary-white: #fff;
    --dark-gray: #373737;
    --medium-gray: #5e5e5e;
    --gray: #cbcbcb;
    --light-gray: #f5f6fa;
    --green: #0c9986;
    --blue: #4880ff;
  }
}
